@import "tailwindcss";

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: black;
  color: white;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 400px;
  height: 80vw;
  max-height: 400px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  display: flex; /* Flex for centering */
  align-items: center;
  justify-content: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.5);
}

.ring:before {
  content: '';
  position: absolute;
  top: auto;
  left: auto;
  width: 102%;
  height: 102%;
  border: 3px solid transparent;
  border-top: 4px solid rgb(42, 4, 112);
  border-right: 4px solid rgb(66, 1, 97);
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

.masked-text {
    font-weight: bold;
    color: transparent;
    background-image: url('src/assets/lightningball.jpg'); 
    background-size: 180%; /* Enlarged for smooth animation */
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 5s infinite alternate linear;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.animate-fadeIn {
  animation: animate-fadeIn 1.5s ease-in-out;
}

@keyframes animate-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}